<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Match Session</title>
</head>
<body>
    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}

    <h1>Add Match Session</h1>

    <form action="/add_match_session" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" value="Submit">
    </form>
    <br><br>
    <button style = "background-color:aquamarine"><a href="/home">Home Page</a></button>
    <br><br>
    <button style = "background-color:violet"><a href="/">Log Out</a></button>
</body>
</html>