<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VolleyDB</title>
</head>
<body>

    <h1>Hello {{ type }}</h1>
    
    {% if type == "manager" %}
        <ul>
            <li><a href="http://127.0.0.1:8000/add_player">Add Player</a></li>
            <li><a href="http://127.0.0.1:8000/add_coach">Add Coach</a></li>
            <li><a href="http://127.0.0.1:8000/add_jury">Add Jury</a></li>
            <li><a href="http://127.0.0.1:8000/change_stadium_name">Change a Stadium Name</a></li>

        </ul>
    {% endif %}
    
</body>
</html>
