<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VolleyDB</title>
</head>
<body>

    <h1>Hello {{ type }}</h1>
    
    {% if type == "manager" %}
        <ul>
            <li><a href="http://127.0.0.1:8000/add_player">Add Player</a></li>
            <li><a href="http://127.0.0.1:8000/add_coach">Add Coach</a></li>
            <li><a href="http://127.0.0.1:8000/add_jury">Add Jury</a></li>
            <li><a href="http://127.0.0.1:8000/change_stadium_name">Change a Stadium Name</a></li>

        </ul>
    {% endif %}

    {% if type == "jury" %}
    <ul>
        <li><a href="http://127.0.0.1:8000/jury_ratings">Your Rating Details</a></li>
    </ul>
    {% endif %}

    {% if type == "coach" %}
        <ul>
            <li><a href="/add_match_session">Add Match Session</a></li>
            <li><a href="/delete_match_session">Delete Match Session</a></li>
            <li><a href="/add_squad">Add Squad</a></li>
            <li><a href="/list_stadiums">List Stadiums</a></li>
        </ul>
    {% endif %} 
</body>
</html>
